<h1>Dictionary Component Test</h1>

<table border="1px" width="60%" align="center">
    <tr>
        <td align="center">
            <h1>Alpha Slang Dictionary</h1>
        </td>
    </tr>
</table>
<table border="1px" width="60%" align="center">
    <tr>
        <th width="25%">Terms</th>
        <th width="65%">Definitions</th>   
    </tr>
    @for (terms of alphaSlang.terms(); track terms.term){
        <tr>
            <th>{{ terms.term }}</th>
            <td>{{ terms.description }}</td>
        </tr>
    }
</table>
<table width="100%">
@for (terms of alphaSlang.terms(); track terms.term){
    <div id="term_card">
        <table id="term_table">
            <tr id="term_name">
                <td><h2>{{terms.term}}</h2></td>
            </tr>
            <tr id ="term_description">
                <td>
                    <h2>Description</h2>
                    <p>{{terms.description}}</p>
                </td>
            </tr>
            <tr id="term_sample">
                <td><p>{{terms.example}}</p></td>
            </tr>
        </table>


    </div>
}
    
</table>
