<div id="dictionary">
    <div id="dictionary_header">
        <h1>Dictionary</h1>
    </div>

    @for (terms of alphaSlang.terms(); track terms.term) {
        <div id="term_card">
            <div id="term_name">
                <h2>{{ terms.term }}</h2>
            </div>

            <div id="term_description">
                <p>{{ terms.description }}</p>
            </div>

            <div id="term_sample">
                <p>{{ terms.example }}</p>
            </div>
        </div>
    }

    <div id="dictionary_footer">
        <span>✦</span>
        <span>Alpha Slang Dictionary</span>
        <span>✦</span>
    </div>
</div>