<div id="dictionary">
    <div id="dictionary_header">
        <div
            id="dictionary_search"
            [class.search-open]="showSearch()"
        >
            <button (click)="toggleSearch()">Search</button>
            <input type="text" [(ngModel)]="searchTerm" placeholder="Enter term">             
        </div>

        <div id="dictionary_title">
            <h1>Dictionary</h1>
        </div>
    </div>

    @if (searchTerm()){
        @for (terms of alphaSlang.terms(); track terms.term){
            @if (terms.term.includes(searchTerm())){
                <div id="term_card">
                    <div id="term_name">
                        <h2>{{ terms.term }}</h2>
                    </div>

                    <div id="term_description">
                        <p>{{ terms.description }}</p>
                    </div>

                    <div id="term_sample">
                        <p>{{ terms.example }}</p>
                    </div>
                </div>
            }
        }
    }
    @else {
         @for (terms of alphaSlang.terms(); track terms.term) {
        <div id="term_card">
            <div id="term_name">
                <h2>{{ terms.term }}</h2>
            </div>

            <div id="term_description">
                <p>{{ terms.description }}</p>
            </div>

            <div id="term_sample">
                <p>{{ terms.example }}</p>
            </div>
        </div>
    }

    }

   
    <!--We need to make a test filter here.-->
    

    <div id="dictionary_footer">
        <span>✦</span>
        <span>Alpha Slang Dictionary</span>
        <span>✦</span>
    </div>
</div>